.top {
	background-color: #00CED1;
	position:fixed;
	width:100%;
	margin-left: -13px;
	margin-top: -13px;
	height:68px
}

.top h1{
	font-weight:bold;
	font-size: 50px;
	margin: 5px;
	background-color:#00CED1;
}

.left {
	position:fixed;
	left:0;
	top:68px;
	bottom:0;
	width:310px;
	background-color:#D3d3d3;
	font-size:20px;

}



.main {
	position:absolute;
	left:310px;
	top:65px;
	right:0;
	bottom:0;
	padding: 10px;
}

.footer {
	height: 20px;
	padding: 10px;
	margin-left: -10px;
	width: 100%;
	background-color: #00CED1;
	position:fixed; bottom: 0;
	font-size:28px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

a:link{

	text-decoration:underline;
	color:black;
}

a:hover{
	text-decoration:none;
	color:black;
}

a:visited{
	color:black;
}
