*{
	font-family: Verdana;
	background-color: grey;
}

.Title{
	background:url('banner.jpg');
    width:100%;
    min-height:189px;
	
	text-align: center;
	font-size: 250%;
	font-weight: bold;
}

.Title h{
	background-color:transparent;
	text-outline-color: white;
	padding-top: 100px;
}


.Left-Address {
	position: fixed;
	height: 125px;
	width: 615px;
	text-align: left;
	
}

.Right-Address {
	
	text-align: Right;
	
}

<<<<<<< HEAD
.Subjects ul li{
	color: blue;
	
}

.Subjects ul li ul li{
	
	color:red;
	text-indent: 50px;
=======
.Subjects ul{
	color: blue;
	position: inline;
	
}

.Subjects ul li{
	color: blue;
	position: inline;
}

.Subjects ul li ul li{
	
	color:black;
	text-indent: 100px;
	position: inline;


	
}

.left {
	
	position: fixed;
	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

a:link{

	text-decoration:underline;
	color:black;
}

a:hover{
	text-decoration:none;
	color:black;
}

a:visited{
	color:black;
}
