*{
	font-family: Verdana;
	background-color: grey;
}

.Title{
	background:url('banner.jpg');
    width:100%;
    min-height:189px;
	
	text-align: center;
	font-size: 250%;
	font-weight: bold;
}

.Title h{
	background-color:transparent;
	text-outline-color: white;
	padding-top: 100px;
}

table{
    width: 100%;
    border-bottom: 2px solid black;
    /*this is the size of the small text's baseline over part  (≈25px*3/4)*/
    line-height: 19.5px; 
}
table td {
    vertical-align: baseline;
}
.left{
    font-family: Arial;
    font-size: 15px;
    float: left;

}
.right{
    font-size: 15px;
    float: right;
}


<<<<<<< HEAD
.Subjects ul li{
	color: blue;
	
}

.Subjects ul li ul li{
	
	color:red;
	text-indent: 50px;
=======
.Subjects ul{
	color: blue;
	position: inline;
	
}

.Subjects ul li{
	color: blue;
	position: inline;
}

.Subjects ul li ul li{
	
	color:black;
	text-indent: 100px;
	position: inline;


	
}

.left {
	
	position: fixed;
	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

a:link{

	text-decoration:underline;
	color:black;
}

a:hover{
	text-decoration:none;
	color:black;
}

a:visited{
	color:black;
}
